<div th:fragment="pageSection(page)">
    <div class="row">
        <div class="col-8">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="cursor-pointer page-item" th:classappend="${page.isFirst()} ? 'disabled' : ''">
                        <a class="page-link" href="#" onClick="updateQueryStringParameter('pageNum', 1)">First</a>
                    </li>
                    <li class="page-item" th:classappend="${page.hasPrevious()} ? '': 'disabled'">
                        <a class="page-link" href="#"
                           onClick="updateQueryStringParameter('pageNum', this.getAttribute('page-number'))"
                           th:page-number="${page.number}">Previous</a>
                    </li>
                    <li th:each="pageNum : ${#numbers.sequence(T(java.lang.Math).max(1,page.number-5), (page.totalPages == 0? 1: T(java.lang.Math).min(page.totalPages,page.number+5)))}"
                        th:class="${page.number+1 == pageNum} ? 'page-item active' : 'page-item'">
                        <a class="page-link" href="#"
                           onClick="updateQueryStringParameter('pageNum', this.getAttribute('page-number'))"
                           th:page-number="${pageNum}" th:text="${pageNum}"></a>
                    </li>
                    <li class="page-item" th:classappend="${page.hasNext()} ? '': 'disabled'">
                        <a class="page-link" href="#"
                           onClick="updateQueryStringParameter('pageNum', this.getAttribute('page-number'))"
                           th:page-number="${page.number+2}">Next</a>
                    </li>
                    <li class="page-item" th:classappend="${page.isLast()} ? 'disabled' : ''">
                        <a class="page-link" href="#"
                           onClick="updateQueryStringParameter('pageNum', this.getAttribute('page-number'))"
                           th:page-number="${page.totalPages}">Last</a>

                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-4">
            <div class="d-flex align-items-center mb-3">
                <label for="results" class="mr-2 mb-0">Results by page: </label>

                <select id="results" class="form-control custom-select" style="max-width: 100px;"
                        onchange="updateQueryStringParameter('pageSize',this.value)">
                    <option value="10" th:selected="${page.size == 10}">10</option>
                    <option value="20" th:selected="${page.size == 20}">20</option>
                    <option value="50" th:selected="${page.size == 50}">50</option>
                    <option value="100" th:selected="${page.size == 100}">100</option>
                    <option value="1000" th:selected="${page.size == 1000}">1000</option>
                </select>
                <span class="ms-1 me-1"> / Total: </span>
                <b class="ms-1" th:text="${page.totalElements}"></b>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        function updateQueryStringParameter(key, value) {
            var uri = window.location.href;
            var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
            var separator = uri.indexOf('?') !== -1 ? "&" : "?";
            if (uri.match(re)) {
                uri = uri.replace(re, '$1' + key + "=" + value + '$2');
            } else {
                uri = uri + separator + key + "=" + value;
            }
            window.location = uri;
        }
    </script>


</div>
