<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Songs</title>
</head>
<body>

<div xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="/songs/add" method="POST">
                    <input id="songId" type="hidden" name="songId"
                           th:value="(${song} != null ? ${song.getId()} : '')">
                    <div class="form-group">
                        <label for="title">Song title</label>
                        <input type="text"
                               class="form-control"
                               id="title"
                               name="title"
                               th:value="(${song} != null ? ${song.getTitle()} : '')"
                               required
                               placeholder="Enter song title">
                    </div>
                    <div class="form-group">
                        <label for="genre">Genre</label>
                        <input type="text"
                               class="form-control"
                               id="genre"
                               name="genre"
                               th:value="(${song} != null ? ${song.getGenre()} : '')"
                               placeholder="Genre">
                    </div>
                    <div class="form-group">
                        <label for="releaseYear">Release year</label>
                        <input type="text"
                               class="form-control"
                               id="releaseYear"
                               name="releaseYear"
                               th:value="(${song} != null ? ${song.getReleaseYear()} : '')"
                               placeholder="Release year">
                    </div>
                    <div class="form-group">
                        <label>Album</label>
                        <select name="albumId" class="form-control">
                            <option th:if="${song} != null"
                                    th:selected="${song.getAlbum() != null && song.getAlbum().getId() == album.getId()}"
                                    th:each="album : ${albums}"
                                    th:value="${album.getId()}"
                                    th:text="${album.getName()}">
                            </option>
                            <option th:if="${song} == null"
                                    th:each="album : ${albums}"
                                    th:value="${album.getId()}"
                                    th:text="${album.getName()}">
                            </option>
                        </select>
                    </div>
                    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    <a type="button" class="btn btn-primary" href="/songs">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
