<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e59232f0a1.js" crossorigin="anonymous"></script>
</head>
<body>

<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">WEB PROGRAMMING SHOP</h1>
        </div>
    </section>

    <th:block th:if="${hasError}">
        <div th:text="${error}" class="text-danger"></div>
    </th:block>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="/products/add" method="POST">
                    <input id="id" type="hidden" name="id"
                           th:value="(${product} != null ? ${product.getId()} : '')">
                    <div class="form-group">
                        <label for="name">Product name</label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               name="name"
                               th:value="(${product} != null ? ${product.getName()} : '')"
                               required
                               placeholder="Enter product name">
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text"
                               class="form-control"
                               id="price"
                               name="price"
                               th:value="(${product} != null ? ${product.getPrice()} : '')"
                               placeholder="Price">
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="text"
                               class="form-control"
                               id="quantity"
                               name="quantity"
                               th:value="(${product} != null ? ${product.getQuantity()} : '')"
                               placeholder="Quantity">
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <select name="category" class="form-control">
                            <option th:if="${product} != null"
                                    th:selected="${product.getCategory() != null &&
                                product.getCategory().getId() == cat.getId()}"
                                    th:each="cat : ${categories}"
                                    th:value="${cat.getId()}"
                                    th:text="${cat.getName()}">
                            </option>
                            <option th:if="${product} == null"
                                    th:each="cat : ${categories}"
                                    th:value="${cat.getId()}"
                                    th:text="${cat.getName()}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Manufacturer</label>
                        <select name="manufacturer" class="form-control">
                            <option th:if="${product} != null"
                                    th:selected="${product.getManufacturer() != null && product.getManufacturer().getId() == man.getId()}"
                                    th:each="man : ${manufacturers}"
                                    th:value="${man.getId()}"
                                    th:text="${man.getName()}">
                            </option>
                            <option th:if="${product} == null"
                                    th:each="man : ${manufacturers}"
                                    th:value="${man.getId()}"
                                    th:text="${man.getName()}">
                            </option>
                        </select>
                    </div>
                    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    <a type="button" class="btn btn-primary" href="/products">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="text-black-50 mt-xl-5" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
                    impression.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Informations</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                <h5>Others links</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i> My company</li>
                    <li><i class="fa fa-envelope mr-2"></i> email@example.com</li>
                    <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
                    <li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
