<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">WEB PROGRAMMING SHOP</h1>
        </div>

        <th:block th:if="${session.user!=null}">
            <h2>Info about user</h2>
            <div>Username:
                <th:block th:text="${session.user.username}"></th:block>
            </div>
            <div>Name:
                <th:block th:text="${session.user.name}"></th:block>
            </div>
            <div>Surname:
                <th:block th:text="${session.user.surname}"></th:block>
            </div>
            <!--            <div>-->
            <!--                <a href="/logout">Logout</a>-->
            <!--            </div>-->
        </th:block>


        <th:block th:if="${hasError}">
            <div th:text="${error}" class="text-danger"></div>
        </th:block>

    </section>
</th:block>