<th:block xmlns:th="http://www.thymeleaf.org">
    <div xmlns:th="http://www.thymeleaf.org">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">WEB PROGRAMMING MUSIC</h1>
                <h3 class="jumbotron-heading">All artists</h3>
            </div>
        </section>

        <div class="container mb-4">
            <div class="row">
                <div class="col-12" th:if="${artists.size() > 0}">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Artist name</th>
                                <th scope="col">Bio</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="artist : ${artists}" class="artist">
                                <td th:text="${artist.getFirstName()}+' '+${artist.getLastName()}"></td>
                                <td th:text="${artist.getBio()}"></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>